<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "/css/fonts.css" | relURL }}" />
    {{ partial "head/head_custom.html" . }}

    <!-- KaTeX-->
    {{ if (and  (or (.GetParam "math") (.Site.Params.math.allPages)) .Site.Params.math.katex)}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/katex.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/katex.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/contrib/auto-render.min.js"></script>
    {{ end }}
    <!-- End KaTeX -->

    <!-- Hide TeX source -->
      <noscript>
          <style>.jsonly { display: none }</style>
      </noscript>
    <!-- End Hide TeX source -->

    <!-- Google Tag Manager -->
    {{ if .Site.Params.gtm_id}}
      {{- partial "header/gtm.html" . }}
    {{ end }}
    <!-- End Google Tag Manager-->
  </head>

  <body>
    <nav>
    <ul class="menu">
      {{ range .Site.Menus.main }}
      <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
    <hr/>
    </nav>

    <!-- iframe version of Google Tag Manager -->
    {{ if .Site.Params.gtm_id}}
      <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id={{ .Site.Params.gtm_id }}" height="0" width="0" style="display:none;visibility:hidden"></iframe>
      </noscript>
    {{ end }}
    <!-- End iframe version of Google Tag Manager -->  
